<!-- <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/bill">Bill</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/addBill">addBill</a>
          </li>
        </ul>
      </div>
    </div>
  </nav> -->

  <nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" class="title" routerLink="">SPLITWISE</a>

        <ul class="navbar-nav textMiddle">
            <li class="nav-item">
                <a class="nav-link textMiddle" routerLink="/bill">Factures</a>
            </li>
            <li class="nav-item">
                <a class="nav-link textMiddle" routerLink="/addBill">Ajouter Facture</a>
            </li>
        </ul>

        <div class="dropdown">
          <a
            class="dropdown-toggle d-flex align-items-center hidden-arrow"
            id="navbarDropdownMenuAvatar"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
              class="rounded-circle"
              height="25"
              alt="Black and White Portrait of a Man"
              loading="lazy"
            />
          </a>
        </div>
      </div>
    
</nav>